body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page {
  text-align: center;
  padding-top: 50px;
}

.login-page h1 {
  color: #333;
  margin-bottom: 30px;
}
